<!-- Шаблон шапки сайта InfoSec Academy -->
<div class="header-content">
    <a href="/index.html" class="logo">InfoSec Academy</a>
    <nav>
        <ul>
            <li><a href="/index.html">Главная</a></li>
            <li><a href="/pages/courses.html">Курсы</a></li>
            <li><a href="/pages/topics.html">Темы</a></li>
            <li><a href="/pages/blog.html">Блог</a></li>
            <li><a href="/pages/about.html">О нас</a></li>
            <li><a href="/pages/contact.html">Контакты</a></li>
        </ul>
    </nav>
</div>